.vscode/**
.vscode-test/**
out/test/**
assets/images/readme/**

src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

webview/**
!webview/dist/**
**/node_modules/**
yarn-error.log