.wrap {
  position: relative;

  .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 4px 0 16px 0;
  }

  .container {
    display: flex;
    width: 100%;
    .pathTree {
      width: 250px;
      max-height: 70vh;
      overflow: auto;
    }
    .editor {
      flex: 1;
    }
  }
}
