.root {
  width: 100%;
  height: 100%;

  .header {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    background-color: transparent;
  }

  .layout {
    padding: 8px 28px;
    margin-top: 6px;

    .empty {
      height: 50vh;
    }

    .content {
      padding: 8px 12px;
      border-radius: 4px;

      .localFileBtn {
        display: block;
        margin: 8px 0 18px 0;
      }

      .settingIcon {
        font-size: 20px;
        cursor: pointer;
      }
    }

    .swaggerInfo {
      margin-top: 12px;
    }

    .apiList {
      margin-top: 12px;
    }
  }

  :global(.ant-layout) {
    background-color: var(--vscode-editor-background, #1e1e1e);
  }
}
